* {
  box-sizing: border-box;
  font-size: 0.125rem;
}
/* CSS*/
html,
body {
  /* width: 1366rem/@size; */
  overflow-x: hidden;
  overflow-y: auto;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
i,
strong,
em {
  margin: 0;
  padding: 0;
  font-size: 0.109375rem;
  color: #999999;
  list-style: none;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #999999;
}
a:hover {
  color: #000;
}
i,
s,
b,
strong,
em {
  text-decoration: none;
  font-style: normal;
}
input,
img {
  vertical-align: middle;
  border: 0 none;
  outline-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.w {
  width: 9.375rem;
  margin: 0 auto;
}
::-moz-selection {
  background: #1EACDF;
  color: #fff;
}
::-webkit-selection {
  background: #1EACDF;
  color: #fff;
}
.autoWidth {
  margin: 0 auto;
  min-width: 7.8125rem;
  max-width: 9.375rem;
}
.auto {
  margin: 0 auto;
  min-width: 7.8125rem;
  max-width: 9.375rem;
}
@media screen and (max-width: 1233rem/128) {
  .auto {
    padding-left: 0.078125rem;
  }
}
.clearfix:after,
.clearfix:before {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear-float {
  clear: both;
}
.footer {
  background-color: #009fd9;
  font-family: "Microsoft Yahei";
}
.footer-floor1 {
  width: 100%;
  padding: 0.28125rem 0 0.46875rem;
}
.footer-list {
  width: 69%;
  height: 100%;
  float: left;
}
.footer-list ul {
  float: left;
  margin-right: 13%;
}
.footer-list .flist-4 {
  margin-right: 0;
}
.footer-list li {
  line-height: 0.25rem;
}
.footer-list li a {
  color: #b6e2f2;
  font-size: 0.09375rem;
  text-decoration: none;
}
.footer-list li a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer-list .flist-title {
  font-size: 0.125rem;
  color: #fff;
  margin-bottom: 0.1171875rem;
}
.footer-floor2 {
  width: 100%;
  border-top: 0.0078125rem solid #4cc3ed;
  padding: 0.15625rem 0;
  text-align: center;
}
.footer-floor2 p {
  text-align: center;
  color: #b6e2f2;
  font-size: 0.09375rem;
  line-height: 0.234375rem;
}
.footer-floor2 p span {
  font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}
.footer-floor2 a {
  color: #b6e2f2;
}
.footer-floor2 a:hover {
  color: #a8d0e0;
  text-decoration: underline;
}
.foot-link {
  margin: 0 0.1171875rem;
  text-decoration: none;
  color: #b6e2f2;
}
.foot-link:hover {
  text-decoration: underline;
}
.footer-right {
  width: 2.34375rem;
  float: right;
}
.telephone {
  width: 100%;
  height: 0.25rem;
  line-height: 0.25rem;
  color: #fff;
}
.telephone span {
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  float: left;
  background: url(../images/phone_32rem/@size.png);
  margin-left: 16%;
}
.telephone .tel-number {
  font-size: 0.234375rem;
  font-weight: 400;
  text-align: right;
}
.official-plat {
  width: 100%;
  height: 100%;
  margin-top: 0.15625rem;
  position: relative;
}
.official-plat ul {
  float: right;
  margin-top: 0.0546875rem;
}
.official-plat ul li span {
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background: url(../images/plat_icon.png) no-repeat 0 0;
  line-height: 0.25rem;
  float: left;
  margin-right: 0.09375rem;
}
.official-plat ul li .weibo-logo {
  background: url(../images/plat_icon.png) no-repeat -0.25rem 0;
}
.official-plat ul li .qq-logo {
  background: url(../images/plat_icon.png) no-repeat -0.5rem 0;
}
.official-plat ul li {
  height: 0.3515625rem;
}
.official-plat ul a {
  display: inline-block;
  height: 0.25rem;
  width: 100%;
  line-height: 0.25rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.09375rem;
}
.official-plat > p {
  display: inline-block;
  width: 1.03125rem;
  height: 1.03125rem;
  border: 0.0078125rem solid #ddd;
  background-color: #fff;
}
.official-plat .weixin {
  position: absolute;
  top: 0;
  left: 0.078125rem;
  background-image: url(../images/plat_qrcode.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.official-plat .weibo {
  position: absolute;
  top: 0;
  left: 0.078125rem;
  background-image: url(../images/plat_qrcode.png);
  background-repeat: no-repeat;
  background-position: -1.03125rem 0;
  display: none;
}
#wx-corner {
  border: 0.078125rem solid transparent;
  border-left: 0.078125rem solid #fff;
  position: absolute;
  top: 0.09375rem;
  right: -0.15625rem;
  z-index: 10;
}
#wb-corner {
  border: 0.078125rem solid transparent;
  border-left: 0.078125rem solid #fff;
  position: absolute;
  top: 0.453125rem;
  right: -0.15625rem;
  z-index: 10;
}
.five-superiority {
  width: 100%;
  border-bottom: 0.0078125rem solid #27aede;
  padding: 0.078125rem 0 0.15625rem;
}
.five-superiority-list li {
  float: left;
  width: 20%;
  height: 0.28125rem;
  text-align: center;
  border-left: 0.0078125rem solid #27aede;
}
.five-superiority-list li:first-child {
  border-left: none;
}
.five-superiority-list li a {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0.28125rem;
  line-height: 0.28125rem;
  background: no-repeat 2% center;
  text-indent: 2em;
  color: #fff;
  font-size: 0.125rem;
}
.five-superiority-list li a:hover {
  color: #bfe7f5;
}
.five-superiority-list li a.superiority-text {
  text-indent: 4em;
}
.superiority-icon {
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  left: 10%;
  background-repeat: no-repeat;
  background-image: url(../images/footer_youshi.png);
}
.compensate_ico .superiority-icon {
  background-position: 0 0;
}
.compensate_ico:hover .superiority-icon {
  background-position: 0 -0.390625rem;
}
.retreat_ico .superiority-icon {
  background-position: 0 -0.78125rem;
}
.retreat_ico:hover .superiority-icon {
  background-position: 0 -1.171875rem;
}
.technology_ico .superiority-icon {
  background-position: 0 -1.5625rem;
}
.technology_ico:hover .superiority-icon {
  background-position: 0 -1.953125rem;
}
.prepare_ico .superiority-icon {
  background-position: 0 -2.34375rem;
}
.prepare_ico:hover .superiority-icon {
  background-position: 0 -2.734375rem;
}
.service_ico .superiority-icon {
  background-position: 0 -3.125rem;
}
.service_ico:hover .superiority-icon {
  background-position: 0 -3.515625rem;
}
.marquee-box {
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.marquee {
  width: 8000%;
  height: 0.46875rem;
}
.wave-list-box {
  float: left;
}
.wave-list-box ul {
  float: left;
  height: 0.46875rem;
  overflow: hidden;
  zoom: 1;
}
.wave-list-box ul li {
  height: 0.46875rem;
  width: 100%;
  float: left;
  line-height: 0.234375rem;
  list-style: none;
}
.wave-box {
  position: relative;
  height: 0.46875rem;
  background: #e6edf1;
}
