.swiper_box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.swiper_box .fix_box {
  width: 1224px;
  height: 517px;
  padding: 20px;
  margin: 70px auto;
  position: relative;
  z-index: 10;
}
.swiper_box .fix_box .border {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid #fff;
  opacity: 0.2;
}
.swiper_box .fix_box .swiper_but {
  width: 14px;
  height: 156px;
  position: absolute;
  right: -7px;
  top: 50%;
}
.swiper_box .fix_box .swiper_but span {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.swiper_box .fix_box .nav_father {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.swiper_box .fix_box .nav_father .nav_button1 {
  width: 100px;
  height: 100px;
  background: url('../img/btn-menu.png') no-repeat 0, 0;
  position: absolute;
  top: 0;
  right: 0;
}
.swiper_box .fix_box .nav_father .nav_button2 {
  width: 100px;
  height: 100px;
  background: url('../img/btn-menu.png') no-repeat -200px, 0;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.swiper_box .fix_box .nav_father .nav_menu {
  width: 870px;
  height: 100px;
  line-height: 100px;
  position: absolute;
  background-color: rgba(196, 45, 45, 0.5);
  right: 0;
  top: 0;
}
.swiper_box .fix_box .nav_father .nav_menu a {
  height: 100px;
  display: block;
  padding: 0 25px;
  float: left;
  text-align: center;
}
.swiper_box .fix_box .nav_father .nav_menu span {
  height: 100px;
  line-height: 100px;
  float: left;
}
.swiper_box .page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper_box .page .cover {
  position: absolute;
  top: 0;
  left: 0;
}
